{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="product-container p-4 rounded text-center">
        <div class="card-btn-product">
            <h2 class="text-white">Добредојдовте во нашиот Vintage Parts Emporium</h2>
        </div>

        <h3 class="mt-4 mb-3">За купувачи:</h3>
        <p>Истражете го светот на историјата и изработката додека ја прелистувате нашата курирана колекција на стари делови за антички предмети. Нашиот онлајн емпориум е ризница на уникатни компоненти кои можат да вдахнат нов живот во вашите сакани антиквитети. Без разлика дали сте ентузијаст, колекционер или реставратор, поканети сте да патувате низ времето додека ги откривате овие сложени и ретки парчиња.</p>
        <p><strong>Како да се движите:</strong></p>
        <ul>
            <li><strong>Прелистувајте со љубопитност:</strong> Навлезете во нашите прецизно категоризирани секции, секој од нив има ризница на стари делови кои чекаат да бидат откриени.</li>
            <li><strong>Нурнете во детали:</strong> Кликнете на секој производ за да откриете сложени слики и детални описи, што ќе ви овозможи да ја сфатите суштината на секое парче.</li>
            <li><strong>Најавете се или регистрирајте се:</strong> Ако најдовте парче што резонира со вашиот антички проект, размислете за создавање сметка. Најавете се ако веќе сте дел од нашата заедница или регистрирајте се со неколку едноставни чекори ако сте нов овде. <a href="{% url 'register_page' %}">Регистрирај се </a> | <a href="{% url 'login_page' %}">Најави се</a></li>
        </ul>

        <h3 class="mt-4 mb-3">За продавачи:</h3>
        <p>Дали сте чувар на антички богатства? Дали имате стари делови кои чекаат да најдете нов дом? Придружете се на нашата заедница на продавачи и ентузијасти кои го ценат значењето на овие компоненти. Ве покануваме да ја споделите вашата експертиза и да ги направите овие богатства достапни за оние кои можат вистински да ги негуваат.</p>
        <p><strong>Како да се придружите како продавач:</strong></p>
        <ul>
            <li><strong>Поврзете се со нас:</strong> За да ги продадете вашите стари делови, контактирајте со нашиот посветен тим со контактирање на нашиот администратор. Го цениме вашиот придонес во светот на антиквитети.</li>
            <li><strong>Заедница на ентузијасти:</strong> Со партнерство со нас, станувате дел од страсна заедница која ја препознава убавината во секој стар детаљ.</li>
        </ul>

        <p>Во нашиот Vintage Parts Emporium, ние не тргуваме само со антички компоненти - ги зачувуваме наследствата и приказните од минатите генерации. Без разлика дали го барате тоа неостварливо парче или имате ризница за споделување, ние сме тука да ги поврземе ентузијастите и да вдахнеме нов живот во светот на антиквитети.</p>
    </div>
</div>
{% endblock content %}
